#menu{
    background-color: blueviolet;
    padding: 10px;
    cursor: pointer;
}
#contact{
    cursor: pointer;
    padding-left: 10px;
}
.nav{
    width: 150px;
    background-color: burlywood;
    padding: 10px 10px 10px 0px;
    margin-bottom: 0px;
}

#heading{
    padding: 10px;
    width: 400px;
}